@import '~/app-variables';

.pager-container {
	height: 44;
}
.pager {
	height: 44;
	border-bottom-color: $border-color;
	border-bottom-width: $border-width;

	.pager-item {
		vertical-align: center;
		height: 44;
		color: $sub-color;
		font-size: 12;
		letter-spacing: 0;
		font-weight: 400;
		padding: 0 12;

		border-bottom-width: 4;
		border-bottom-color: transparent;

		&.active {
			border-bottom-color: $main-color;
			border-bottom-width: 3;
		}
	}
}

